*{
    margin: 0%;
}
.header{
    display: flex;
    background: rgba(7, 218, 7, 0.904);
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.header h1{
    color: #ffff;
    font-size: 64px;
    text-align: center;
}
.main{
    background: darkgrey;
    width: 90%;
    height: 800px;
    margin: 0px auto 0px auto;
}
.footer{
    height: 100px;
    width: 90%;
    background: gray;
    margin: 0%auto 0px auto;
}